<div class="landing_wrap">
    <div class="toolbar">
        <div class="logo_space">
            <div class="logo" (click)="display = 'home'">
                <i class="icon icon-thumbprint"></i>
                <label>Provvy.</label>
            </div>
        </div>
        <ul class="menu-options">
            <li (click)="display = 'market'">Marketplace</li>
            <li (click)="display = 'artist'">Artist's Center</li>
        </ul>
    </div>

    <div class="hero" *ngIf="display == 'home'">
        <div class="hero_content">
            <h1>Be a part of the most special stories 🎨</h1>
            <p>Create fearlessly with content you love, and uncover the world's most unique digital collectibles</p>
            <button (click)="display = 'market'">Browse Galleries</button> 
            <button (click)="display = 'artist'" class="light">Upload Artwork</button>
        </div>
        <div class="hero_image">
            <div class="complex_circles"><div></div><div></div><div></div></div>
            <div class="video_wrap">
                <video playsinline autoplay [muted]="'muted'" loop>
                    <source src="assets/soft.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
    </div>

    <div class="hero" *ngIf="display == 'market'">
        <h1>Marketplace</h1>
    </div>

    <div class="hero" *ngIf="display == 'artist'">
        <h1>Create Artist Profile</h1>
    </div>

    <div class="footer">
        Copyright 2021 Provvy co. 
    </div>
</div>