.flex_wrap {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row-reverse;
    width: 100%;
}

.hero_content {
    width: 500px;
    padding: 48px 100px 100px;
    color: #fdfdfd;

    button {
        border: none;
        background: #633ad9;
        color: #fdfdfd;
        padding: 16px 45px;
        border-radius: 32px;
        font-size: 15px;
        margin-top: 28px;
        box-shadow: 2px 4px 17px #00000091;

        margin-left: auto;
        margin-right: 25px;
        cursor: pointer;
        white-space: nowrap;
    }

    .light {
        background: transparent;
        border: 1px solid #fdfdfd;
        color: #fdfdfd;
        box-shadow: none;
        margin-right: 0;
    }

    .shop_by {
        margin-top: 60px;

        .token_type_wrapper {
            display: inline-flex;
            flex-wrap: wrap;

            .token_type {
                width: 30%;

                h1 {
                    font-size: 14px;
                }

                p {
                    font-size: 10px;
                    height: 45px;
                    width: 80%;
                }

                button {
                    border-radius: 4px;
                    padding: 8px 24px;
                    font-size: 10px;
                    margin: 0;
                    box-shadow: none;
                    text-transform: uppercase;
                    background: #cdcdcd;
                    color: #393461;
                    font-weight: 700;
                }
            }
        }
    }
}

.hero_image {
    height: 610px;

    .complex_circles {
        z-index: 0;
        width: 540px;
        height: 200px;
        margin-left: auto;
        margin-right: auto;

        div {
            position: absolute;
            width: 450px;
            height: 450px;
            border-radius: 50%;
            border: 3px solid #615d89;
        }

        div:first-child {
            margin-top: 37px;
            margin-left: 90px;
        }

        div:last-child {
            margin-top: 152px;
            margin-left: 13px;
        }
    }

    .video_wrap {
        width: 400px;
        height: 500px;
        overflow: hidden;
        margin-top: -250px;
        border-radius: 190px 190px 20px 20px;
        box-shadow: -20px -15px 20px #0000006b;
        position: relative;
        margin-left: auto;
        margin-right: auto;

        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: 10;
            background: #3f3f3f;
        }
    }
}
