<div class="slideUpBigin">
  <div class="step">
    <!-- -->



    <div class="custom-file" [ngClass]="{'non-dotted' : user.image}">
      <input type="file" class="custom-file-input" (input)="submitPhoto($event)" name="imgurls" id="inputGroupFile01"
        aria-describedby="inputGroupFileAddon01">

      <label for="inputGroupFile01" class="profile_image">
        <img *ngIf="!user.image && !path" src="/assets/no-profile-image.png" />
        <img *ngIf="path && !user.image" src="assets/loader.gif" />
        <img *ngIf="user.image" [src]="user.image" />
      </label>
    </div>


    <form class="simple_details" *ngIf="!step">
      <div class="inline">
        <input placeholder="Artist Name" type="text"  [(ngModel)]="user.name" />
        <svg *ngIf="user.name.length >= 6" class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
          <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" />
          <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" />
        </svg>
      </div>

      <br />
      <textarea placeholder="Artist Description" [(ngModel)]="user.description"></textarea> <br />
      <button type="button" (click)="step = 1" [disabled]="user.name.length < 6" class="purple">Continue</button>
    </form>

    <form class="simple_details" *ngIf="step == 1">
      <input placeholder="Twitter URL" type="url" [(ngModel)]="user.socials.twitter" /> <br />
      <input placeholder="Facebook URL" type="url" [(ngModel)]="user.socials.facebook" /> <br />
      <input placeholder="Instagram URL" type="url" [(ngModel)]="user.socials.instagram" /> <br />
      <button type="button" class="purple" (click)="step = 2">Continue</button>
      <button type="button" (click)="step = 0">Previous</button>
    </form>

    <form class="simple_details" *ngIf="step == 2">
      <button type="button" (click)="connectToMetaMask()">Connect MetaMask Wallet</button>
    </form>

    <i class="mega-icon icon icon-thumbprint"></i>
    <i class="mega-icon icon-two icon icon-thumbprint"></i>

  </div>
</div>