.slideUpBigin {
    background: #e7eaef;
    width: 74vw;
    height: 59vh;
    border-bottom: 8px solid #aeaac9;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: -1px 7px 20px #b7b7b7;
    margin-left: auto;
    margin-right: auto;
    max-width: 750px;
    overflow: hidden;

    .simple_details {
        width: fit-content;
        margin-left: auto;
        margin-right: auto;

        input,
        textarea {
            width: 100%;
            max-width: 400px;
            margin-bottom: 10px;
            padding: 18px;
            border: none;
            box-sizing: border-box;
            font-size: 12px;
            border-radius: 6px;
        }

        button {
            width: 100%;
            padding: 9px;
            color: #fff;
            border: none;
            border-radius: 4px;
            margin-left: auto;
            margin-right: auto;
            display: block;
            box-sizing: border-box;
            margin: 0;
            margin-bottom: 10px;
            background: #8e8e8e;
            cursor: pointer;
        }

        .purple {
            background: #aeaac9;
        }

        button:disabled {
            cursor: not-allowed;
            background: #e8e8e8;
        }
    }

    .custom-file {
        display: block;
        width: fit-content;
        height: fit-content;

        color: #8e8e8e;
        font-family: "Playfair Display", serif;

        margin-left: auto;
        margin-right: auto;
        box-sizing: border-box;
        border: 2px dotted #e8e8e8;

        .profile_image {
            width: 120px;
            height: 120px;
            display: block;
            border-radius: 50%;
            overflow: hidden;
            border: 2px solid #928bcc;
            box-shadow: 0 0 10px #606060;
            margin: -158px auto 50px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        input {
            visibility: hidden;
            width: 100%;
            height: 170px;
            margin-top: 72px;
        }

        .done_image img {
            height: 200px;
            width: 200px;
            object-fit: cover;
            margin-top: -60px;
            // background: black;
        }

        .closeIco {
            display: block;
            float: right;
            margin: 10px;
            margin-top: -100px;
            font-size: 21px;
            color: #2c3e4f;
        }
    }

    .non-dotted {
        border: none !important;
        margin-top: -10%;
    }

    .mega-icon {
        font-size: 500px;
        display: block;
        z-index: -10;
        opacity: 0.32;
        margin-top: -528px;
        margin-left: 420px;
        margin-right: auto;
        color: #d4d1e3;
        pointer-events: none;
    }

    .icon-two {
        margin-top: -48px;
        margin-left: -621px;
    }

    .animation-ctn {
        text-align: center;
        position: absolute;
        right: 120px;
        margin-top: -100px;
    }
}

//CHECKBOX FUNCTIONALITY
$green: #7ac142;
$white: #fff;
$curve: cubic-bezier(0.65, 0, 0.45, 1);

.inline {
    display: inline-flex;
}

.checkmark {
    min-width: 24px;
    min-height: 24px;
    height: 24px;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: $white;
    stroke-miterlimit: 10;
    box-shadow: inset 0px 0px 0px $green;
    animation: fill 0.4s ease-in-out 0.4s forwards, scale 0.3s ease-in-out 0.9s both;

    margin-top: 13px;
    margin-left: 12px;
}

.checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: $green;
    fill: none;
    animation: stroke 0.6s $curve forwards;
}

.checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s $curve 0.8s forwards;
}

@keyframes stroke {
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes scale {
    0%,
    100% {
        transform: none;
    }
    50% {
        transform: scale3d(1.1, 1.1, 1);
    }
}

@keyframes fill {
    100% {
        box-shadow: inset 0px 0px 0px 30px $green;
    }
}
