
.landing_wrap {
    background: #DCDDE2;
    transition: all 1s ease;
    width: 100%;
    overflow: hidden;
    //max-width: 1700px;
    min-height: 100vh;
    color: #8d85cb;

    margin-left: auto;
    margin-right: auto;

    display: block;

    .toolbar {
        width: 100%;
        padding: 7%;
        padding-top: 5%;
        box-sizing: border-box;
        display: inline-flex;
        flex-wrap: wrap;
        row-gap: 25px;

        .logo_space {
            min-width: 65%;
            height: 100%;
            display: block;
            cursor: pointer;

            .logo {
                font-weight: 600;
                color: #8d85cb;
                font-size: 12px;
                display: inline-block;

                i {
                    font-size: 18px;
                    display: block;
                }

                label {
                    margin-top: -16px;
                    margin-left: 20px;
                    display: block;
                    cursor: pointer;
                    text-transform: uppercase;
                }
            }

            .logo:hover {
                color: #aca9c7 !important;
            }
        }

        .menu-options {
            display: inline-flex;
            list-style: none;
            padding: 0;
            margin: 0;
            min-width: 20%;
            width: fit-content;
            line-height: 20px;

            li {
                margin-left: 10px;
                margin-right: 10px;
                text-align: right;

                font-weight: 600;
                color: #8d85cb;
                font-size: 14px;
                width: 50%;
                white-space: nowrap;
                cursor: pointer;
                line-height: 23px;
            }

            li:hover {
                color: #aca9c7 !important;
            }
        }
    }

    .hero {
        width: 100%;
        margin-top: 3vh;
    }
}

.padded{
    margin-top: 2vh;
    margin-bottom: 2vh;
    width: 96%;
    background: linear-gradient(to top right, #2b2844, #453e7b);
    color: #fdfdfd;
    border-radius: 4px;

    
    .toolbar .logo, .menu-options li{
        color: #fdfdfd !important;
    }
}


.footer {
    text-align: center;
    padding: 10px;
    font-size: 12px;
    font-weight: 400;
    bottom: 0;
    
    margin-top: 9%;
    margin-bottom: 2%;
}
